<section class="page">
  <ul class="accordion-menu">
    <% site.categories.each(item => { %>
      <li class="has-children">
        <input type="checkbox" name="<%= item.name %>" />
        <label><%= item.name %></label>
        
      </li>
    <% }) %>
  </ul>
</section>