.layout {
  &-header {
    position: relative;
    margin: 20px auto 0 auto;
    padding: 10px 0 0;
    width: 700px;
    word-wrap: break-word;
    text-align: center;
  }

  &-main {
    position: relative;
    margin: 0 auto 50px auto;
    padding: 10px 0;
    width: 700px;
    background: @background-color;
  }

  &-footer {
    color: @background-color;
    margin-bottom: 45px;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    padding: 30px 0;
  }
}

.header {
  &-top {
    position: relative;
    height: 45px;
    background: @background-color;

    .menu {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      position: relative;
      top: 20px;
    
      &-item {
        padding: 0;
        margin: 0 40px 0 0;
        opacity: .4;

        a {
          text-transform: uppercase;
          display: block;
          font-weight: 600;
          letter-spacing: .2em;
          font-size: 14px;
        }

        &:hover {
          opacity: .7;
        }

        &.active {
          opacity: 1;
          background-image: linear-gradient(to right, @active-color 0, @active-color 100%);
          background-position: 0 0.8em;
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }

        &:last-child {
          margin-right: 0;
        }
        

      }
    }
  }

  &-content {
    padding: 30px 0 40px;
    background: @background-color;
    text-align: center;

    .avatar {
      margin: 0 auto;
      width: 80px;
      height: 80px;

      img {
        display: block;
        margin: 0 auto;
        width: 80px;
        height: 80px;
        border-radius: 100px;
      }
    }
  }

  &-bottom {
    margin-bottom: 20px;
  }
}

#writing {
  .post {
    &-list {
      padding: 30px;
    }
  
    &-item {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #ededed;
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  
    &-title {
      display: block;
      color: #6d6d6d;
      word-wrap: break-word;
      font-weight: normal;
      font-size: 17px;
      line-height: 1.8;
    }

    &-meta {
      display: flex;

      div {
        margin-right: 10px;
        color: #999;
        font-size: 10px;
      }
    }
  }
}

.pagination {
  
}
