.layout {
  &-header {
    position: relative;
    margin: 20px auto 0 auto;
    padding: 10px 0 0;
    width: 700px;
    word-wrap: break-word;
    text-align: center;
  }

  &-main {
    position: relative;
    margin: 0 auto 50px auto;
    padding: 10px 0;
    width: 700px;
    background: @color-background;
  }

  &-footer {
    color: @color-background;
    margin-bottom: 45px;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    padding: 30px 0;
  }
}

.header {
  &-top {
    position: relative;
    height: 45px;
    background: @color-background;

    .menu {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      position: relative;
      top: 20px;
      list-style: none;
    
      &-item {
        padding: 0;
        margin: 0 40px 0 0;
        opacity: .4;

        a {
          text-transform: uppercase;
          display: block;
          font-weight: 600;
          letter-spacing: .2em;
          font-size: 14px;
        }

        &:hover {
          opacity: .7;
        }

        &.active {
          .underline(0.8em, @color-link);
          opacity: 1;
          background-size: 100% 100%;
        }

        &:last-child {
          margin-right: 0;
        }
        

      }
    }
  }

  &-content {
    padding: 30px 0 40px;
    background: @color-background;
    text-align: center;

    .avatar {
      margin: 0 auto;
      width: 80px;
      height: 80px;

      img {
        display: block;
        margin: 0 auto;
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }
    }
  }

  &-bottom {
    margin-bottom: 20px;
  }
}

.post {
  &-list {
    margin: 0;
    padding: 30px;
    list-style: none;
  }

  &-item {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid @color-border;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-title {
    margin: 0;
    padding: 0;
    display: block;
    color: #6d6d6d;
    word-wrap: break-word;
    font-weight: normal;
    font-size: 17px;
    line-height: 1.8;
  }

  &-meta {
    display: flex;
    align-items: center;

    div {
      margin-right: 15px;
      color: #999;
      font-size: 12px;
    }

    a {
      color: #999 !important;
      text-decoration: none !important;
    }
  }

  &-header {
    width: 100%;
    border-bottom: 1px solid @color-border;
    padding-bottom: 10px;
    display: flex;

    .pic {
      display: inline;
      float: left;
      margin-right: 15px;

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
    }

    .info {
      position: relative;
      overflow: hidden;
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.09);
      color: #999;

      .title {
        font-size: 30px;
        color: @color-text;
        text-align: left;
        font-weight: bold;
      }
    }
  }
}

.content {
  position: relative;
  clear: both;
  overflow: hidden;
  padding: 30px;
  background: @color-background;
  white-space: normal;
  word-break: break-all;

  .base-style();
}

.pagination {
  display: inline-block;
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}

.page {
  position: relative;
  clear: both;
  overflow: hidden;
  padding: 30px;
  background: @color-background;
  white-space: normal;
  word-break: break-all;

  h2,
  h3 {
    .underline(0.8em, @color-link);
    background-size: 100% 100%;

  }
}

.article {
  &-category {
    &:before {
      content: "|";
    }
  }

  &-tag {
    &:before {
      content: "|";
    }

    .tag-link {
      .underline(1.2em, @color-link);

      &:before {
        content: "#";
      }
    }
  }
}

.archive {
  &-list {
    position: relative;
    list-style: none;
  }

  &-item {
    margin-left: 6rem;
    border-left: .1rem dashed #999;
    padding-left: 3rem;
    display: flex;

    &:before {
      content: "";
      position: absolute;
      /* top: 50%; */
      left: 9.3em;
      margin-top: .5em;
      width: 0.5em;
      height: 0.5em;
      border-radius: 50%;
      background-color: #999;
    }
  }
}
