<div class="social-links">
  <% for (let l in theme.social.links) {%>
    <% if (l == 'mail') { %>
      <a href="<%= theme.social.links[l]%>" target="_blank">
        <i class="fas fa-envelope"></i>
      </a>
    <% } else { %>
      <a href="<%= theme.social.links[l]%>" target="_blank">
        <i class="fab fa-<%= l %>"></i>
      </a>
    <% } %>
  <%}%>
</div>